.overlay-body {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.overlay-body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  backdrop-filter: brightness(1.2) blur(30px) opacity(1);
  -webkit-backdrop-filter: brightness(1.2) blur(30px) opacity(1);
  border-radius: 30px;
}

@media (max-width: 991px) {
  #page_content {
    margin-left: 0;
  }
}

@media (min-width: 991.1px) {
  #page_content {
    padding-left: 0;
    padding-right: 0;
    margin-left: 19%;
  }
}

#page_content {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.swiper-pagination {
  position: unset !important;
}

.membershipNav {
  z-index: 1;
}

.membershipNav img {
  width: 50px;
  height: auto;
}

.mySwiper a {
  text-decoration: none;
}
